<!DOCTYPE html>
<html>
    <head>
<<<<<<< HEAD
        <title></title>
    </head>
=======
        <title>Fortnite Competitions - PAGENAME</title>
    </head>
    <body>

    </body>
>>>>>>> parent of 89a149e... Created a design that doesn't look bad.
</html>